@use 'styles/variables' as vars;
@use 'styles/mixins' as mixins;

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;

  @include mixins.breakpoint(xs) {
    gap: 16px;
  }
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 30px;
  border-radius: vars.$borderRadius;
  background-color: vars.$backgroundLine;
  color: vars.$colorTextSecondary;
}

.tip {
  text-align: center;
  font-size: 10px;
  margin: 5px 0;
}