@use 'styles/variables' as vars;
@use 'styles/mixins' as mixins;

.button {
    cursor: pointer;
    padding: 18px;
    border: none;
    border-radius: vars.$borderRadiusMini;
    background-color: vars.$colorAccent;
    color: vars.$backgroundLight;
    transition: all .2s ease;
    box-shadow: vars.$shadow;
    text-align: center;

    &:focus {
        background-color: darken(vars.$colorAccent, 5);
    }

    &:disabled {
        opacity: .5;
    }

    @include mixins.breakpoint(sm) {
        line-height: 22px;
        padding: 15px;
    }
}