@use 'styles/variables' as vars;

@mixin breakpoint($size) {
    @media (max-width: map-get(vars.$grid-breakpoints, $size)) {
        @content;
    }
}

@mixin container {
    padding: 0 calc(50% - 360px);

    @include breakpoint(sm) {
        padding: 0 calc(50% - 270px);
    }

    @include breakpoint(xs) {
        padding: 0 16px;
        gap: 25px;
    }
}