@use 'styles/variables' as vars;
@use 'styles/mixins' as mixins;

.wrap {
  color: vars.$colorTextPrimary;
  background-color: vars.$backgroundPrimary;
  padding: 50px 0;
  overflow-x: hidden;

  @include mixins.breakpoint(xs) {
    padding: 25px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mixins.breakpoint(xs) {
    gap: 25px;
  }

  @include mixins.container;
}

.title {
  font-size: 40px;
  padding: 0 25px;
  margin-bottom: 50px;

  @include mixins.breakpoint(xs) {
    font-size: 24px;
    padding: 0 16px;
    margin-bottom: 25px;
  }
}

.dressCode {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 25px;

  @include mixins.breakpoint(xs) {
    gap: 25px;
    padding: 0 16px;
  }
}

.colorsWrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  height: 100%;

  @include mixins.breakpoint(xs) {
    gap: 16px;
  }
}

.color {
  flex: 1;
  border-radius: vars.$borderRadius;
  aspect-ratio: 1 / 1;
  box-shadow: vars.$shadow;

  @include mixins.breakpoint(xs) {
    border-radius: vars.$borderRadiusMini;
  }
}

.extraInfo {
  position: relative;
  display: flex;
  padding: 25px;

  @include mixins.breakpoint(xs) {
    padding: 16px;
  }

  &:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 3px solid vars.$colorAccent;
    border-left: 3px solid vars.$colorAccent;
  }

  &:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 3px solid vars.$colorAccent;
    border-bottom: 3px solid vars.$colorAccent;
  }
}