@use 'styles/variables' as vars;
@use 'styles/mixins' as mixins;

.page {
  width: 100%;
  color: vars.$colorTextPrimary;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: vars.$backgroundPrimary;

  @include mixins.breakpoint(xs) {
    gap: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: vars.$backgroundPrimary;
  padding: 25px calc(50% - 360px);

  @include mixins.breakpoint(sm) {
    padding: 25px calc(50% - 270px);
  }

  @include mixins.breakpoint(xs) {
    padding: 16px;
    gap: 25px;
  }
}